// Colors
$primary-color: #01A7FD;
$secondary-color: #111111;
$background-color: #FFFFFF;
$black-color: #000000;
$gray-color: #1111117A;
$gray-m-color: #FAFAFA;

// Device breakpoints
$tablet-breakpoint: 576px;
$desktop-breakpoint: 768px;
