// Colors
$color-primary: #01A7FD;
$color-secondary: #111111;
$color-background: #FFFFFF;
$color-error: #DB524E;
$color-gray: #E8E8E8;
$color-gray-m: #FAFAFA;
$color-gray-l: #F1F1F1;
$color-gray-s: #D4D4D4;

// Device breakpoints
$breakpoint-tablet: 576px;
$breakpoint-desktop: 768px;
