// Colors
$primary-color: #01A7FD;
$secondary-color: #111111;
$background-color: #FFFFFF;
$gray-color: #1111117A;
$gray-m-color: #FAFAFA;
$gray-l-color: #F1F1F1;
$gray-s-color: #D4D4D4;

// Device breakpoints
$tablet-breakpoint: 576px;
$desktop-breakpoint: 768px;
